

@font-face {
  font-family: 'TommySoftBold';
  /* src: local('MyFont'), url(./fonts/MyFont.woff) format('woff'); */
  src: local('TommySoftBold'), url('./fonts/MADE Tommy Soft Bold PERSONAL USE.otf') format('otf');
  
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}


@font-face {
  font-family: 'TommySoftThin';
  /* src: local('MyFont'), url(./fonts/MyFont.woff) format('woff'); */
  src: local('TommySoftThin'), url('./fonts/MADE Tommy Soft Thin PERSONAL USE.otf') format('otf');
}